@font-face {
  font-family: "AlJazeera-Regular";
  src: url("../fonts/AlJazeera-Regular.ttf"); }
@font-face {
  font-family: "AlJazeera-Bold";
  src: url("../fonts/AlJazeera-Bold.ttf"); }
@font-face {
  font-family: "AlJazeera-light";
  src: url("../fonts/AlJazeera-Light.ttf"); }
@font-face {
  font-family: "Cairo-Light";
  src: url("../fonts/Cairo-Light.ttf"); }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "AlJazeera-Regular"; }

.clear {
  content: "";
  display: table;
  clear: both; }

#header-section {
  background: #6f2f8f;
  background: -moz-linear-gradient(left, #6f2f8f 0%, #a2378e 100%);
  background: -webkit-linear-gradient(left, #6f2f8f 0%, #a2378e 100%);
  background: linear-gradient(to right, #6f2f8f 0%, #a2378e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f2f8f', endColorstr='#a2378e',GradientType=1 ); }

#header-section .top-header-section {
  display: block;
  border-bottom: 2px solid #8e4a9c;
  /*Start Styling the top header section */ }

.top-header-section .containerBody .logo {
  margin: 0 auto;
  text-align: center; }
  .top-header-section .containerBody .logo a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px; }
  .top-header-section .containerBody .logo img {
    width: 100px; }

.top-header-section .containerBody .menuBurger {
  float: right;
  position: absolute;
  top: 0;
  right: 20px; }

.burger-item div {
  height: 4px;
  background: #f8f8f8;
  border: 0.3px solid #dbb8d5;
  margin: 7px 0;
  border-radius: 0px;
  transition: 0.3s; }

.burger-item {
  display: block;
  margin: 2em 0 0 2em;
  width: 40px;
  transform: rotate(180deg); }

.one {
  width: 20px; }

.two {
  width: 30px; }

.three {
  width: 40px; }

.burger-item:hover div {
  width: 40px;
  /*Ends of header section */ }

#header-section .bottom-header-section {
  display: block; }

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  direction: rtl; }

.nav-one-header {
  border-radius: 3px; }

.nav-item {
  padding: 12px 16px 13px;
  font-size: 16px;
  color: #c9a5d1;
  font-family: "AlJazeera-Regular"; }

.nav-item, .vertical-align-middle {
  display: inline-block;
  vertical-align: middle; }

.scroll::-webkit-scrollbar {
  display: none; }

.card-image {
  display: block;
  min-height: 15rem;
  background-size: cover;
  background-position: center; }

.card-image > img {
  display: block;
  width: 60%;
  opacity: 0; }

.card-image.is-loaded {
  -webkit-filter: none;
  filter: none;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s; }

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none; }

.card {
  display: inline-block;
  /*width: 90% */
  /*max-width: 11rem */
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none; }

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none; }

.card-description > h2 {
  margin: 0 0 0.5em;
  font-family: "AlJazeera-Regular";
  font-size: 25px;
  text-transform: uppercase;
  text-align: right; }

.card-description > p {
  margin: 0;
  font-family: "AlJazeera-Regular";
  text-align: right; }

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 50px auto 0; }

@media screen and (min-width: 800px) {
  .swiper-container {
    width: 70%;
    margin-left: 15%; } }
.swiper-slide {
  background: #fff;
  color: #333;
  font-size: 1.8rem;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.swiper-container-horizontal > .swiper-pagination {
  top: 0;
  bottom: auto; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0; }

.active-mark {
  background: #ffeb3b;
  width: 25%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 52px;
  transition: left 0.2s ease-out; }

.swiper-pagination-bullet {
  background-color: #00D42B;
  border-radius: 0;
  box-sizing: border-box;
  color: #0e8927;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: normal;
  opacity: 1;
  height: 56px;
  width: 25%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: font-weight 0.22s ease; }

.swiper-pagination-bullet:nth-of-type(1).swiper-pagination-bullet-active ~ .active-mark {
  left: 0%; }

.swiper-pagination-bullet:nth-of-type(2).swiper-pagination-bullet-active ~ .active-mark {
  left: 25%; }

.swiper-pagination-bullet:nth-of-type(3).swiper-pagination-bullet-active ~ .active-mark {
  left: 50%; }

.swiper-pagination-bullet:nth-of-type(4).swiper-pagination-bullet-active ~ .active-mark {
  left: 75%; }

.swiper-pagination-bullet:first-of-type.swiper-pagination-bullet-active ~ .active-mark {
  left: 0; }

.swiper-pagination-bullet-active {
  font-weight: bold; }

/*# sourceMappingURL=index.css.map */
